<div class="row top-padding">
    <div class="col-8">
        <textarea class="form-control" rows="8" id="textToFind" style="font-size: 16px;" placeholder="Wpisz treść..." [(ngModel)]="textToShow" (ngModelChange)="textToShowChange()"></textarea>
    </div>
    <div class="col-4">
        <song-book-slide-preview [slideContent]="previewContent" [fullSize]="true"></song-book-slide-preview>
    </div>
</div>
<div class="row top-small-padding">
    <div class="col-12">
        <div class="checkbox">
            <label><input type="checkbox" id="customHtml" style="width: 30px;" (change)="editAsHtmlChange()" [(ngModel)]="editAsHtml">Edycja jako HTML</label>
        </div>
   </div>
</div>
<div class="row top-small-padding">
   <div class="col-12">
        <div class="checkbox">
            <label><input type="checkbox" id="autoAlignLines" style="width: 30px;" (change)="autoAlignLinesChange()" [(ngModel)]="autoAlignLines">Automatyczne dopasowanie linii</label>
        </div>
    </div>
</div>
<div class="row top-padding">
    <div class="col-6"><button type="button" class="btn btn-success btn-lg" style="width: 100%;" (click)="showPreview()" [disabled]="canSendToTv">Podgląd</button></div>
    <div class="col-6"><button type="button" class="btn btn-success btn-lg" style="width: 100%;" (click)="sendToTv()" [disabled]="!canSendToTv">Wyślij do TV</button></div>
</div>
<div class="waitBoxOverlay" [hidden]="!isLoading">
    <div class="waitBox" [hidden]="!isLoading"></div>
</div>