<style>
    .table-striped .selectedRowStyle {
        background: #FBD475 !important;
    }

    .selectedSlideStyle {
        background: #FBD475 !important;
    }
</style>
<div *ngIf="!editorStarted && !importerStarted">
    <div class="row top-padding">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item">Edytor pozwala na edycję, dodawanie oraz usuwanie pieśni dostępnych w słowniku. Aby rozpocząć, kliknij przycisk "Uruchom edytor"</li>
                <li class="list-group-item">Importer pozwala na zaimportowanie wcześniej wygenerowanego pliku JSON z pieśnią w innej lokalizacji. Aby rozpocząć, kliknij przycisk "Uruchom importer"</li>
            </ul>            
        </div>
    </div>
    <div class="row top-padding">
        <div class="col-sm-6"><input type="button" value="Uruchom edytor" class="btn btn-success btn-lg" (click)="startEditor()" /></div>
        <div class="col-sm-6"><input type="button" value="Uruchom importer" class="btn btn-success btn-lg" (click)="startImporter()" /></div>
    </div>
</div>
<div *ngIf="importerStarted">
    <div class="row top-padding">
        <div class="col-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-12"><p><b>Import pieśni w formacie JSON</b></p></div>
    </div>
    <div class="row top-padding">
        <div class="col-12">
            <div class="checkbox">
                <label><input type="checkbox" id="forceSaveImport" style="width: 15px;" [(ngModel)]="forceSaveImport"> Wymuś zapis jako nowa pieśń, jeżeli nazwa istnieje</label>
            </div>
        </div>
    </div>
    <div class="row top-padding">
        <div class="col-sm-3">
            <input type="file" id="file" (change)="captureAllJsonFiles($event.target.files)">
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success col-sm-5 ml-1" style="width: 100%;" type="button" (click)="importAllJsonFiles()" [disabled]="!jsonFilesSelected"><i title="Wyślij plik" class="fa fa-send fa-lg" aria-hidden="true"></i></button>
            <button class="btn btn-success col-sm-5 ml-1" style="width: 100%;" type="button" (click)="exitImporter()"><i title="Wyjdź z importera" class="fa fa-toggle-off fa-lg" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row top-padding">
        <div class="col-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-12"><p><b>Wyniki importu</b></p></div>
    </div>
    <div class="row top-padding">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let result of importResults">{{result}}</li>
        </ul>
    </div>
</div>
<div *ngIf="editorStarted">
    <div class="row top-padding">
        <div class="col-sm-12">
            <p-table #songsListTable [paginator]="true" [autoLayout]="true" [alwaysShowPaginator]="false" [rows]="5" [value]="songsList" class="table table-hover table-striped table-condensed">
                <ng-template pTemplate="header">
                    <tr>                        
                        <th [pSortableColumn]="'PaperSongBookId'">                    
                            Id
                            <p-sortIcon [field]="'PaperSongBookId'" ariaLabel="Sortuj" ariaLabelDesc="Sortuj malejąco" ariaLabelAsc="Sortuj rosnąco"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'Name'">
                            Nazwa pieśni
                            <p-sortIcon [field]="'Name'" ariaLabel="Sortuj" ariaLabelDesc="Sortuj malejąco" ariaLabelAsc="Sortuj rosnąco"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'Indexable'">
                            Indeks
                            <p-sortIcon [field]="'Operator'" ariaLabel="Sortuj" ariaLabelDesc="Sortuj malejąco" ariaLabelAsc="Sortuj rosnąco"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'SlidesCount'">
                            Slajdów
                            <p-sortIcon [field]="'SlidesCount'" ariaLabel="Sortuj" ariaLabelDesc="Sortuj malejąco" ariaLabelAsc="Sortuj rosnąco"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'Created'">
                            Utworzony
                            <p-sortIcon [field]="'Created'" ariaLabel="Sortuj" ariaLabelDesc="Sortuj malejąco" ariaLabelAsc="Sortuj rosnąco"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'Modified'">
                            Zmodyfikowany
                            <p-sortIcon [field]="'Modified'" ariaLabel="Sortuj" ariaLabelDesc="Sortuj malejąco" ariaLabelAsc="Sortuj rosnąco"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="padding: .25em .5em;">
                            <input placeholder="Wyszukaj..." pInputText type="text" (input)="songsListTable.filter($event.target.value, 'PaperSongBookId', 'contains')">
                        </td>
                        <td style="padding: .25em .5em;">
                            <input placeholder="Wyszukaj..." pInputText type="text" (input)="searchForName($event.target.value)">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-template>        
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr style="cursor: pointer;" [ngClass]="selectedSongCss(rowIndex)" >
                        <td (click)="editSong(rowData, rowIndex)">{{rowData.PaperSongBookId}}</td>
                        <td (click)="editSong(rowData, rowIndex)">{{rowData.Name}}</td>
                        <td (click)="editSong(rowData, rowIndex)">{{rowData.Indexable ? 'Tak' : 'Nie'}}</td>
                        <td (click)="editSong(rowData, rowIndex)">{{rowData.SlidesCount}}</td>
                        <td (click)="editSong(rowData, rowIndex)">{{rowData.Created | date: 'dd.MM.yyyy'}}</td>
                        <td (click)="editSong(rowData, rowIndex)">{{rowData.Modified | date: 'dd.MM.yyyy'}}</td>
                        <td>
                            <button *ngIf="!rowData.Protected" type="button" class="btn btn-secondary" (click)="deleteSong(rowData)"><i title="Usuń pieśń" class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="'8'">
                            Brak pieśni o podanych kryteriach
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="row top-padding">
        <div class="col-2">
            <button type="button" style="width: 100%;" class="btn btn-success" [disabled]="songEditing" (click)="addNewSong()"><i title="Dodaj nową pieśń" class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="col-1">
            <button type="button" style="width: 100%;" class="btn btn-success" [disabled]="songEditing" (click)="saveSongsAsHtml()"><i title="Pobierz wszystkie pieśni jako HTML" class="fa fa-download fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="col-1">
            <button type="button" style="width: 100%;" class="btn btn-success" [disabled]="songEditing" (click)="saveSongsAsJson()"><i title="Pobierz wszystkie pieśni jako JSON" class="fa fa-sitemap fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="col-1">
            <button type="button" style="width: 100%;" class="btn btn-success" [disabled]="songEditing"  (click)="exitEditor()"><i title="Wyjdź z edytora" class="fa fa-toggle-off fa-lg" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row top-padding" *ngIf="songEditing">
        <div class="col-4" style="max-height: 500px; overflow-y: auto;">
            <div class="row top-small-padding" *ngFor="let slide of songSlides; let i = index">
                <div class="col-12 editorCanvas" [ngStyle]="{ 'border': slide.CustomHtml ? 'none' : '1px solid black' }" [ngClass]="selectedSlideCss(i)" style="width: 350px;">
                    <song-book-slide-preview [slideContent]="slide.PageText" (click)="editSlide(slide, i)" [fullSize]="true"></song-book-slide-preview>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row top-small-padding" [hidden]="slideEditing">
                <div class="col-12">
                    <p style="font-weight: bold;">Metadane pieśni</p>
                    <hr/>
               </div>
            </div>
            <div class="row top-small-padding" [hidden]="slideEditing">
                <div class="col-12">
                    <div class="row">
                        <label class="col-sm-3 col-form-label" for="songName">Nazwa pieśni</label>
                        <input type="text" class="form-control col-sm-8" name="songName" id="songName" [disabled]="currentSong.Protected" [(ngModel)]="currentSong.Name" />
                    </div>
               </div>
            </div>
            <div class="row top-small-padding" [hidden]="slideEditing">                
               <div class="col-6">
                    <div class="row">
                        <label class="col-sm-6 col-form-label" for="songBookNumber">Numer w śpiewniku</label>
                        <input type="text" class="form-control col-sm-4" name="songBookNumber" id="songBookNumber" [(ngModel)]="currentSong.PaperSongBookId" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <label class="col-sm-6 col-form-label" for="indexable">Indeksowalna</label>
                        <input type="checkbox" id="indexable" name="indexable" style="width: 15px; margin-top: 15px;" [(ngModel)]="currentSong.Indexable">
                    </div>
               </div>
            </div>
            <div class="row top-small-padding" [hidden]="slideEditing">
                <div class="col-12">
                    <hr/>
               </div>
            </div>
            <div class="row top-small-padding" [hidden]="slideEditing">
                <div class="col-12">
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-1 ml-1" (click)="addSlide()"><i title="Dodaj nowy slajd" class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button>
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-1 ml-1" (click)="saveSong()"><i title="Zapisz zmiany w pieśni" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-1 ml-1" (click)="cancelSong()"><i title="Anuluj edycję pieśni" class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-1 ml-1" (click)="saveSongAsHtml()"><i title="Zapisz slajdy pieśni jako HTML" class="fa fa-download fa-lg" aria-hidden="true"></i></button>
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-1 ml-1" (click)="saveSongAsJson()"><i title="Zapisz slajdy pieśni jako JSON" class="fa fa fa-sitemap fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="row top-small-padding" [hidden]="!slideEditing">
                <div class="col-12">
                    <p style="font-weight: bold;">Metadane slajdu</p>
                    <hr/>
               </div>
            </div>
            <div class="row top-small-padding" [hidden]="!slideEditing">
                <div class="col-4">
                    <div class="row">
                        <label class="col-sm-8 col-form-label" for="customHtml">Edycja jako HTML</label>
                        <input type="checkbox" id="customHtml" name="customHtml" style="width: 15px; margin-top: 15px;" [(ngModel)]="currentSlide.CustomHtml">
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <label class="col-sm-3 col-form-label" for="slideOrder">Kolejność</label>
                        <input type="text" class="form-control col-sm-2" name="slideOrder" id="slideOrder" [(ngModel)]="currentSlide.Order" [disabled]="true" />
                        <button type="button" style="width: 100%;" class="btn btn-secondary col-sm-2 ml-1" (click)="moveSlideUp()" [disabled]="currentSlide.Order == 1"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                        <button type="button" style="width: 100%;" class="btn btn-secondary col-sm-2 ml-1" (click)="moveSlideDown()" [disabled]="currentSlide.Order == songSlides.length"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="row top-small-padding" [hidden]="!slideEditing">
                <div class="col-4">
                    <div class="row">
                        <label class="col-sm-8 col-form-label" for="autoAlignLines">Automatyczne dopasowanie linii</label>
                        <input type="checkbox" id="autoAlignLines" name="autoAlignLines" style="width: 15px; margin-top: 25px;" (change)="autoAlignLinesChange()" [(ngModel)]="autoAlignLines">
                    </div>
               </div>
            </div>
            <div class="row top-small-padding" [hidden]="!slideEditing">
                <div class="col-12">
                    <textarea class="form-control" rows="8" id="pageText" [(ngModel)]="currentEditedText" (ngModelChange)="currentEditedTextChange()" [ngModelOptions]="{updateOn: 'blur'}"></textarea>
               </div>
            </div>
            <div class="row top-small-padding" [hidden]="!slideEditing">
                <div class="col-8">
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-3 ml-1" (click)="saveSlide()"><i title="Zapisz zmiany w slajdzie" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-3 ml-1" (click)="deleteSlide()"><i title="Usuń slajd" class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                    <button type="button" style="width: 100%;" class="btn btn-success col-sm-3 ml-1" (click)="cancelSlide()"><i title="Anuluj zmiany w slajdzie" class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>   
</div>