<div class="row top-padding">
    <div class="alert alert-warning collapse alertBoxStyle" style="margin-top: 5px;" id="shutdownServerAlert" (click)="hideAlertBox('shutdownServerAlert')">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Wysłano komunikat do wyłączenia. Serwer za chwilę zostanie wyłączony</strong>
    </div>
    <div class="alert alert-warning collapse alertBoxStyle" style="margin-top: 5px;" id="restartServerAlert" (click)="hideAlertBox('restartServerAlert')">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Wysłano komunikat do restartu. Serwer za chwilę zostanie zrestartowany, aplikacja może być niedostępna</strong>
    </div>
</div>
<div *ngIf="tripleColumnLayout">
    <div class="row top-padding">
        <div class="col-4">
            <p><b>Poprzedni slajd</b></p>
        </div>
        <div class="col-4">
            <p><b>Obecny slajd (telewizor)</b></p>
        </div>
        <div class="col-4">
            <p><b>Następny slajd</b></p>
        </div>
    </div>
    <div class="row top-padding">
        <div class="col-4">
            <song-book-slide-preview [slideContent]="previewObject.Previous" [fullSize]="true"></song-book-slide-preview>
        </div>
        <div class="col-4">
            <song-book-slide-preview [slideContent]="previewObject.Current" [fullSize]="true"></song-book-slide-preview>
        </div>
        <div class="col-4">
            <song-book-slide-preview [slideContent]="previewObject.Next" [fullSize]="true"></song-book-slide-preview>
        </div>
    </div>
    <div class="row top-padding" style="padding-top: 30px;">
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToPreviousSlide()">Poprzedni slajd</button></div>
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToNextSlide()">Następny slajd</button></div>
    </div>
    <div class="row top-padding" style="padding-top: 10px;">
        <div class="col-4"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToSlideBlackout()">Zaciemnienie</button></div>
        <div class="col-4"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToSlideWithLogo()">Efraim</button></div>
        <div class="col-4"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToSlideWithMary()">Maryja</button></div>
    </div>
</div>
<div *ngIf="doubleColumnLayout || singleColumnLayout">
    <div class="top-padding row">
        <div class="col-12"><p><b>Obecny slajd (telewizor)</b></p></div>
    </div>
    <div class="top-padding row">
        <div class="col-12">
            <song-book-slide-preview [slideContent]="previewObject.Current" [fullSize]="true"></song-book-slide-preview>
        </div>
    </div>
    <div class="top-padding row">
        <div class="col-6"><p><b>Poprzedni slajd</b></p></div>
        <div class="col-6"><p><b>Następny slajd</b></p></div>
    </div>
    <div class="top-padding row">
        <div class="col-6">
            <song-book-slide-preview [slideContent]="previewObject.Previous" [fullSize]="true" [additionalLayoutInfo]="layoutInfo"></song-book-slide-preview>
        </div>
        <div class="col-6">
            <song-book-slide-preview [slideContent]="previewObject.Next" [fullSize]="true" [additionalLayoutInfo]="layoutInfo"></song-book-slide-preview>
        </div>
    </div>
    <div class="top-padding row" style="padding-top: 10px;">
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToPreviousSlide()">{{ singleColumnLayout ? "Poprzedni" : "Poprzedni slajd"}}</button></div>
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToNextSlide()">{{ singleColumnLayout ? "Następny" : "Następny slajd"}}</button></div>
    </div>
    <div class="top-padding row" style="padding-top: 15px;">
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToSlideWithLogo()">Efraim</button></div>
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToSlideWithMary()">Maryja</button></div>
    </div>
    <div class="top-padding row" style="padding-top: 15px;">
        <div class="col-12"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToSlideBlackout()">Zaciemnienie</button></div>
    </div>
</div>
<div style="padding-top: 10px;" *ngIf="showAllSlidesUnderControlButtons && songSlides && songSlides.length >= 2">
    <div>
        <hr style="width: 100%;" />
        <h3 style="font-weight: bold;">Slajdy</h3>
    </div>
    <div *ngFor="let slide of songSlides; let i = index">
        <div *ngIf="i % getColumnCount() == 0" class="row top-padding">
            <div [ngClass]="getLayoutColumnSize()">
                <div style="float: left; width: calc(100% - 52px);"><song-book-slide-preview [slideContent]="slide.PageText" [fullSize]="false"></song-book-slide-preview></div>
                <div style="float: right; width: 50px;">
                    <button type="button" class="btn btn-success" style="width: 46px;" (click)="selectItemFromSlides(slide)">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div [ngClass]="getLayoutColumnSize()" *ngIf="i + 1 < songSlides.length && getColumnCount() > 1">
                <div style="float: left; width: calc(100% - 52px);"><song-book-slide-preview [slideContent]="songSlides[i + 1].PageText" [fullSize]="false"></song-book-slide-preview></div>
                <div style="float: right; width: 50px;">
                    <button type="button" class="btn btn-success" style="width: 46px;" (click)="selectItemFromSlides(songSlides[i + 1])">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div [ngClass]="getLayoutColumnSize()" *ngIf="i + 2 < songSlides.length && getColumnCount() > 2">
                <div style="float: left; width: calc(100% - 52px);"><song-book-slide-preview [slideContent]="songSlides[i + 2].PageText" [fullSize]="false"></song-book-slide-preview></div>
                <div style="float: right; width: 50px;">
                    <button type="button" class="btn btn-success" style="width: 46px;" (click)="selectItemFromSlides(songSlides[i + 2])">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 10px;" [hidden]="!playlistItems || playlistItems.length == 0">
    <div>
        <hr style="width: 100%;" />
        <h3 style="font-weight: bold;">Playlista</h3>
    </div>
    <div *ngFor="let song of playlistItems; let i = index">
        <div *ngIf="i % getColumnCount() == 0" class="row top-padding">
            <div [ngClass]="getLayoutColumnSize()">
                <div style="float: left; width: calc(100% - 52px);"><song-book-slide-preview [slideContent]="song.PageText" [fullSize]="false"></song-book-slide-preview></div>
                <div style="float: right; width: 50px;">
                    <button type="button" class="btn btn-success" style="width: 46px;" (click)="selectItemFromPlaylist(song)">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </button><br />
                    <button type="button" class="btn btn-success" style="margin-top: 25px; width: 46px;" (click)="removeItemFromPlaylist(i)">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div [ngClass]="getLayoutColumnSize()" *ngIf="i + 1 < playlistItems.length && getColumnCount() > 1">
                <div style="float: left; width: calc(100% - 52px);"><song-book-slide-preview [slideContent]="playlistItems[i + 1].PageText" [fullSize]="false"></song-book-slide-preview></div>
                <div style="float: right; width: 50px;">
                    <button type="button" class="btn btn-success" style="width: 46px;" (click)="selectItemFromPlaylist(playlistItems[i + 1])">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </button><br />
                    <button type="button" class="btn btn-success" style="margin-top: 25px; width: 46px;" (click)="removeItemFromPlaylist(i + 1)">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div [ngClass]="getLayoutColumnSize()" *ngIf="i + 2 < playlistItems.length && getColumnCount() > 2">
                <div style="float: left; width: calc(100% - 52px);"><song-book-slide-preview [slideContent]="playlistItems[i + 2].PageText" [fullSize]="false"></song-book-slide-preview></div>
                <div style="float: right; width: 50px;">
                    <button type="button" class="btn btn-success" style="width: 46px;" (click)="selectItemFromPlaylist(playlistItems[i + 2])">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </button><br />
                    <button type="button" class="btn btn-success" style="margin-top: 25px; width: 46px;" (click)="removeItemFromPlaylist(i + 2)">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>