<div class="row top-padding">
    <div class="col-sm-12">
        <label for="textToFind">Wpisz szukaną frazę:</label>
        <textarea class="form-control" rows="5" id="textToFind" style="font-size: 25px;" (keydown.enter)="searchSongs($event)" [(ngModel)]="textToFind"></textarea>
    </div>
</div>
<div class="row top-padding">
    <div class="col-sm-12"><button type="button" class="btn btn-success btn-lg" style="width: 100%;" [disabled]="textToFind.length == 0" (click)="searchSongs(null)">Wyszukaj</button></div>
</div>
<div class="alert alert-warning alert-dismissible collapse alertBoxStyle" style="margin-top: 5px;" id="nothingFoundAlert" (click)="hideAlertBox('nothingFoundAlert')">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Nic nie znaleziono...</strong>
</div>
<div class="top-padding" [hidden]="!resultsFound">
    <div *ngFor="let song of results; let i = index">
        <div *ngIf="i % getColumnCount() == 0" class="row top-padding">
            <div [ngClass]="getColumnClass()">
                <song-book-slide-preview [slideContent]="song.PageText" data-toggle="modal" data-target="#chooseActionDialog" (click)="onSlideClicked(song)" [fullSize]="true"></song-book-slide-preview>
            </div>
            <div [ngClass]="getColumnClass()" *ngIf="i + 1 < results.length && getColumnCount() > 1">
                <song-book-slide-preview [slideContent]="results[i + 1].PageText" data-toggle="modal" data-target="#chooseActionDialog" (click)="onSlideClicked(results[i + 1])" [fullSize]="true"></song-book-slide-preview>
            </div>
            <div  [ngClass]="getColumnClass()"*ngIf="i + 2 < results.length && getColumnCount() > 2">
                <song-book-slide-preview [slideContent]="results[i + 2].PageText" data-toggle="modal" data-target="#chooseActionDialog" (click)="onSlideClicked(results[i + 2])" [fullSize]="true"></song-book-slide-preview>
            </div>
        </div>
    </div>
    <div class="row top-padding" *ngIf="resultPagesCount > 1">
        <div class="col-sm-6 col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToPreviousSearchResults()" [disabled]="currentResultsPageIndicator == 1">Poprzednie</button></div>
        <div class="col-sm-6 col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="goToNextSearchResults()" [disabled]="currentResultsPageIndicator == resultPagesCount">Następne</button></div>
    </div>
</div>
<div class="modal fade" id="chooseActionDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Co chcesz zrobić ze slajdem?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>                
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p><b>Tytuł pieśni:</b> {{ searchResultSlide ? searchResultSlide.SongName : ''}}</p>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-success btn-block" (click)="sendSlideToServer()">Do TV</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-info btn-block" (click)="sendSlideToPlaylist()">Do playlisty</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="disableNotification" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Przypomnienie</h3>           
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>Pamiętaj, aby po zakończeniu wyłączyć serwer programowo. Zakładka <b>Ustawienia</b> -> przycisk <b>Wyłącz serwer</b> :)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-success btn-block" data-dismiss="modal">OK, tak zrobię</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>