<div class="row top-padding">
    <div class="col-12"><hr /></div>
</div>
<div class="row">
    <div class="col-12"><p><b>Konfiguracja GUI</b></p></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="checkbox">
            <label><input type="checkbox" id="displayOnlyOneResultPerSong" style="width: 30px;" (change)="onDisplayOnlyOneResultPerSongChanged()" [(ngModel)]="settings.displayOnlyOneResultPerSong">Wyświetlaj tylko jeden wynik wyszukiwania z danej pieśni</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="checkbox">
            <label><input type="checkbox" id="enableKeyboardShortcuts" style="width: 30px;" (change)="onKeyboardShortcutsEnabledChanged()" [(ngModel)]="settings.keyboardShortcutsEnabled">Włącz skróty klawiszowe na podglądzie</label>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-12">
            <div class="checkbox">
                <label><input type="checkbox" id="showAllSlidesUnderControlButtons" style="width: 30px;" (change)="onShowAllSlidesUnderControlButtonsChanged()" [(ngModel)]="settings.showAllSlidesUnderControlButtons">Pokaż wszystkie slajdy pod przyciskami kontroli</label>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12"><p><b>Konfiguracja TV</b></p></div>
</div>
<div class="row">
    <div class="col-6">
        <button type="button" style="width: 100%;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('TurnOnTv')">Włącz telewizor</button>
    </div>
    <div class="col-6">
        <button type="button" style="width: 100%;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('TurnOffTv')">Wyłącz telewizor</button>
    </div>
</div>
<div class="row" style="padding-top: 10px;">
    <div class="col-4">
        <button type="button" style="width: 100%;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('SwitchToHdmi1')">Przełącz na HDMI1</button>
    </div>
    <div class="col-4">
        <button type="button" style="width: 100%;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('SwitchToHdmi2')">Przełącz na HDMI2</button>
    </div>
    <div class="col-4">
        <button type="button" style="width: 100%;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('SwitchToHdmi3')">Przełącz na HDMI3</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12"><p><b>Konfiguracja serwera</b></p></div>
</div>
<div class="row">
    <div class="col-12">
        <button type="button" style="width: 100%;" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('Shutdown')">Wyłącz serwer</button>
    </div>
</div>
<div class="row">
    <div class="col-12"><hr /></div>
</div>
<div class="row">
    <div class="col-12"><p data-toggle="collapse" data-target="#configAdvanced" style="cursor: pointer;" (click)="showAdvancedButton = false" [hidden]="!showAdvancedButton">Zaawansowane...</p></div>
</div>
<div class="collapse" id="configAdvanced">
    <div class="row top-padding">
        <div class="col-2"><p><b>Stan</b></p></div>
        <div class="col-4"><p>{{connectedToScreenService ? "Połączony" : "Niepołączony"}}</p></div>
    </div>
    <div class="row top-padding">
        <div class="col-2"><p><b>Ilość monitorów</b></p></div>
        <div class="col-4"><p>{{monitorsInfo.length}}</p></div>
    </div>
    <div class="row top-padding">
        <div class="col-12"><hr /></div>
    </div>
    <div class="row top-padding">
        <div class="col-12">
            <table class="table table-striped" [hidden]="!monitorsInfo || monitorsInfo.length == 0">
                <thead>
                    <tr>
                        <th>Nazwa urządzenia</th>
                        <th>Główny</th>
                        <th>Bitów na piksel</th>
                        <th>X</th>
                        <th>Y</th>
                        <th>Wysokość</th>
                        <th>Szerokość</th>
                        <th>Lewa</th>
                        <th>Prawa</th>
                        <th>Góra</th>
                        <th>Dół</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let monitor of monitorsInfo">
                        <td>{{monitor.DeviceName}}</td>
                        <td>{{monitor.Primary ? "TAK" : "NIE" }}</td>
                        <td>{{monitor.BitsPerPixel}}</td>
                        <td>{{monitor.Bounds.X}} px</td>
                        <td>{{monitor.Bounds.Y}} px</td>
                        <td>{{monitor.Bounds.Height}} px</td>
                        <td>{{monitor.Bounds.Width}} px</td>
                        <td>{{monitor.Bounds.Left}} px</td>
                        <td>{{monitor.Bounds.Right}} px</td>
                        <td>{{monitor.Bounds.Top}} px</td>
                        <td>{{monitor.Bounds.Bottom}} px</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row top-padding">
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="setPrimaryMonitor()" [disabled]="monitorsInfo == null || monitorsInfo.length == 0">Monitor główny</button></div>
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="setSecondaryMonitor()" [disabled]="monitorsInfo == null || monitorsInfo.length < 2">Monitor drugi</button></div>
    </div>
    <div class="row top-padding">
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('Restart')">Zrestartuj serwer</button></div>
        <div class="col-6"><button type="button" style="width: 100%;" class="btn btn-success btn-lg" (click)="reconnectToScreenProcess()">Odśwież</button></div>
    </div>
    <div class="row top-padding">
        <div class="col-12"><button type="button" style="width: 100%;" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#confirmDialog" (click)="onServerCallerChange('RebuildDatabase')" [disabled]="true">Przebuduj bazę danych</button></div>
    </div>
</div>
<div class="modal fade" id="confirmDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title">Czy na pewno chcesz tego dokonać ({{advancedInfoMessage}})?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block" (click)="handleVideoServer()">Tak</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Nie</button>
                </div>
            </div>
        </div>
    </div>
</div>