<html>
	<head>
		<meta charset="UTF-8">
		<style>
			* {{
				margin: 0;
				padding: 0;
				
			}}
			
			.slideParagraph {{
				margin: 0;
				padding-top: 1%;
				text-align: center;
			}}
		</style>
	</head>
	<body>
		<div class="slideContent" style="color: white; background-color: black; font-family: 'Arial'; line-height: calc(1.265em + 0.5vw); width: 100%; height: 100%; font-size: calc(4vw + 1vh + 2vmin); overflow:hidden;">
			{0}
		</div>
	</body>
</html>