<div [ngClass]="getContainerClass()">
    <div id="users-device-size">
        <div id="xs" class="d-block d-sm-none"></div>
        <div id="sm" class="d-none d-sm-block d-md-none"></div>
        <div id="md" class="d-none d-md-block d-lg-none"></div>
        <div id="lg" class="d-none d-lg-block d-xl-none"></div>
        <div id="xl" class="d-none d-xl-block"></div>
    </div>
    <ul class="nav nav-pills top-padding" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" (click)="onPillClick('search')" aria-controls="pills-search" aria-selected="true">Wyszukiwanie</a></li>
        <li class="nav-item"><a class="nav-link" id="pills-preview-tab" data-toggle="pill" href="#pills-preview" role="tab" (click)="onPillClick('preview')" aria-controls="pills-preview" aria-selected="false">Podgląd</a></li>
        <li class="nav-item" *ngIf="showAdditionalTabs()"><a class="nav-link" id="pills-adhoc-tab" data-toggle="pill" href="#pills-adhoc" role="tab" (click)="onPillClick('adhoc')" aria-controls="pills-adhoc" aria-selected="false">Ad-Hoc</a></li>
        <li class="nav-item"><a class="nav-link" id="pills-settings-tab" data-toggle="pill" href="#pills-settings" role="tab" (click)="onPillClick('settings')" aria-controls="pills-settings" aria-selected="false">Ustawienia</a></li>
        <li class="nav-item" *ngIf="showAdditionalTabs()"><a class="nav-link" id="pills-editor-tab" data-toggle="pill" href="#pills-editor" role="tab" (click)="onPillClick('editor')" aria-controls="pills-editor" aria-selected="false">Edytor</a></li>
    </ul>
    <div class="alert alert-danger alert-dismissible collapse alertBoxStyle" style="margin-top: 5px;" id="errorAlert" (click)="hideAlertBox('errorAlert')">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{dataError}}
    </div>
    <div class="tab-content">
        <div id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab" class="tab-pane fade show active">
            <song-book-search 
                [layoutSize]="layoutObject.CurrentSize" 
                [displayOnlyOneResultPerSong]="settings.displayOnlyOneResultPerSong"
                (onSlideChange)="onSlideChange($event)"></song-book-search>
        </div>
        <div id="pills-preview" role="tabpanel" aria-labelledby="pills-preview-tab" class="tab-pane fade">
            <song-book-preview 
                [layoutSize]="layoutObject.CurrentSize" 
                (onSlideChange)="onSlideChange($event)" 
                [previewTabActive]="previewTabActive" 
                [keyboardShortcutsEnabled]="settings.keyboardShortcutsEnabled" 
                [showAllSlidesUnderControlButtons]="settings.showAllSlidesUnderControlButtons"
                #songBookPreviewComponent></song-book-preview>
        </div>
        <div id="pills-adhoc" role="tabpanel" aria-labelledby="pills-adhoc-tab" class="tab-pane fade">
            <song-book-adhoc [layoutSize]="layoutObject.CurrentSize" (onSlideChange)="onSlideChange($event)"></song-book-adhoc>
        </div>
        <div id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab" class="tab-pane fade">
            <song-book-settings 
                [layoutSize]="layoutObject.CurrentSize" 
                [settings]="settings"
                (displayOnlyOneResultPerSongChanged)="displayOnlyOneResultPerSongChanged($event)"
                (keyboardShortcutsEnabledChanged)="keyboardShortcutsEnabledChanged($event)"
                (showAllSlidesUnderControlButtonsChanged)="showAllSlidesUnderControlButtonsChanged($event)"></song-book-settings>
        </div>
        <div id="pills-editor" role="tabpanel" aria-labelledby="pills-editor-tab" class="tab-pane fade">
            <song-book-editor [layoutSize]="layoutObject.CurrentSize"></song-book-editor>
        </div>
    </div>
    <div class="waitBoxOverlay" [hidden]="!isLoading">
        <div class="waitBox" [hidden]="!isLoading"></div>
    </div>
    <hr/>
    &copy; 2018-2020 Technika Efraim - Marek Liszewski
</div>