body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
}

.top-padding {
    padding-top: 5px;
}

.top-big-padding {
    padding-top: 5px;
}

.top-small-padding {
    padding-top: 2px;
}

.waitBoxOverlay {
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.previewCanvas, .playlistCanvas, .singlePreviewCanvas {
    width: 100%;
    height: 206px;
    /*margin-bottom: 0 !important;
    font-size: 17px !important;
    line-height: 1.7 !important;*/
    /* height: 100%; */
    /* border: 1px solid black; */
}

@media (min-width: 0px) {
    .previewCanvas p {
        font-size: 16px !important;
        line-height: 1.8 !important;
    }
    .singlePreviewCanvas p {
        font-size: 10px !important;
        line-height: 2.8 !important;
    }
    .playlistCanvas p {
        font-size: 16px !important;
        line-height: 1.8 !important;
    }
}

@media (min-width: 576px) {
    .previewCanvas p {
        font-size: 16px !important;
        line-height: 1.8 !important;
    }
    .singlePreviewCanvas p {
        font-size: 14px !important;
        line-height: 2.1 !important;
    }
    .playlistCanvas p {
        font-size: 11.5px !important;
        line-height: 2.5 !important;
    }
}
  
@media (min-width: 768px) {
    .previewCanvas p {
        font-size: 20px !important;
        line-height: 1.4 !important;
    }
    .singlePreviewCanvas p {
        font-size: 14px !important;
        line-height: 2.1 !important;
    }
    .playlistCanvas p {
        font-size: 17px !important;
        line-height: 1.7 !important;
    }
  }
  
@media (min-width: 992px) {
    .previewCanvas p {
        font-size: 16.5px !important;
        line-height: 1.7 !important;
    }
    .singlePreviewCanvas p {
        font-size: 14px !important;
        line-height: 2.1 !important;
    }
    .playlistCanvas p {
        font-size: 13.5px !important;
        line-height: 2.2 !important;
    }
}
  
@media (min-width: 1200px) {
    .previewCanvas p {
        font-size: 20px !important;
        line-height: 1.4 !important;
    }
    .singlePreviewCanvas p {
        font-size: 14px !important;
        line-height: 2.1 !important;
    }
    .playlistCanvas p {
        font-size: 17px !important;
        line-height: 1.7 !important;
    }
}

.previewCanvas p, .playlistCanvas p, .singlePreviewCanvas p {
    margin-bottom: 0 !important;
}

.editorCanvas .previewCanvas {
    width: 350px;
}

.editorCanvas .previewCanvas p {
    font-family: 'Arial';
}

.waitBox {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.alertBoxStyle {
    cursor: pointer;
}

.modal-header .close {
    font-size: 40px;
}

.slideContent {
    font-size: 76px !important;
}